body {
  background: cornsilk;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
}
.caixa1 {
  position: fixed;
  width: 200px;
  height: 200px;
  background: darksalmon;
  left: 0;
  bottom:0;
}
.caixa2 {
  position: absolute;
  width: 200px;
  height: 200px;
  background: darkred;
  left: 205px;
  bottom:0;
}
.menuPrincipal{
  position: absolute;
  width: 100%;
  height: 45px;
  background: #a9c5e6;
  font-family: 'Courier New', Courier, monospace;
}
nav ul{
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: 0;
}
li{
  float: left;

}
li a{
  display: block;
  color: brown;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover{
  background: rgb(87, 209, 17);
  color: brown;
}
#onça {
  width: 15%;

}
.caixaOnça {
  position: absolute;
  top: 45px;
  width: 90%;
  height: 160px;
  background-color: #a9c5e6;
  left: 0;
  margin: 20px;
  border-color: brown;
  border-width: 20px;
  border-style: solid;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.caixaOnça2 {
  position: absolute;
  top: 45px;
  width: 90%;
  height: 160px;
  background-color: darkseagreen;
  left: 0;
  margin: 20px;
  border-color: dimgrey;
  border-width: 20px;
  border-style: solid;
  padding: 20px;
  display: flex;
  justify-content: end;
}
.rodape {
  position: absolute;
  width: 100%;
  height: 35px;
  background: black;
  color: rgb(0, 0, 0);
  bottom: 0%;
  display: flex;
  justify-content: center;
}
.conteudo {
  position: absolute;
  top: 45px;
}